body {
  margin: 0;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 400;
}
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }

  .h-md-250 {
    height: 250px;
  }
}
